# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (⚠️ nunca subas contraseñas ni tokens)
.env

# Archivos de construcción o temporales
dist/
build/
.tmp/
.cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de subida locales (imágenes, backups, etc.)
uploads/
*.bak
*.old
*.crc

# Archivos de Docker locales
docker-compose.yml
.dockerignore

# Configuración de editor
.vscode/
.idea/

# Otros archivos innecesarios
package-lock.json

